body{

font-family: sans-serif;

}
.clock{
	height: 180px;
	width: 180px;
	border: 10px solid #D9B5B5;
	box-shadow: 1px 1px 12px 5px black;
	z-index: 100;
	border-radius: 50%; 
	position: absolute;
	left: 50%;
	top:50%;

	transform: translate(-50%, -50%);



}
.clock .pointer{
	--rotation1:0;
	position: absolute;
	left: -5.5%;
	top:-5.5%;
	height: 200px;
	width: 200px;
	color: #644F4F;
	font-size: 20px;
	font-weight: 800;
	text-align: center;
	z-index: 90;
	transform: rotate(var(--rotation1));
}

.clock .pointer1 {--rotation1:0deg;}
.clock .pointer2 {--rotation1:6deg;}
.clock .pointer3 {--rotation1:12deg;}
.clock .pointer4 {--rotation1:18deg;}
.clock .pointer5 {--rotation1:24deg;}
.clock .pointer6 {--rotation1:30deg;}
.clock .pointer7 {--rotation1:36deg;}
.clock .pointer8 {--rotation1:42deg;}
.clock .pointer9 {--rotation1:48deg;}
.clock .pointer10 {--rotation1:54deg;}
.clock .pointer11 {--rotation1:60deg;}
.clock .pointer12 {--rotation1:66deg;}
.clock .pointer13 {--rotation1:72deg;}
.clock .pointer14 {--rotation1:78deg;}
.clock .pointer15 {--rotation1:84deg;}
.clock .pointer16 {--rotation1:90deg;}
.clock .pointer17 {--rotation1:96deg;}
.clock .pointer18 {--rotation1:102deg;}
.clock .pointer19 {--rotation1:108deg;}
.clock .pointer20 {--rotation1:114deg;}
.clock .pointer21 {--rotation1:120deg;}
.clock .pointer22 {--rotation1:126deg;}
.clock .pointer23 {--rotation1:132deg;}
.clock .pointer24 {--rotation1:138deg;}
.clock .pointer25 {--rotation1:144deg;}
.clock .pointer26 {--rotation1:150deg;}
.clock .pointer27 {--rotation1:156deg;}
.clock .pointer28 {--rotation1:162deg;}
.clock .pointer29 {--rotation1:168deg;}
.clock .pointer30 {--rotation1:174deg;}
.clock .pointer31 {--rotation1:180deg;}
.clock .pointer32 {--rotation1:186deg;}
.clock .pointer33 {--rotation1:192deg;}
.clock .pointer34 {--rotation1:198deg;}
.clock .pointer35 {--rotation1:204deg;}
.clock .pointer36 {--rotation1:210deg;}
.clock .pointer37 {--rotation1:216deg;}
.clock .pointer38 {--rotation1:222deg;}
.clock .pointer39 {--rotation1:228deg;}
.clock .pointer40 {--rotation1:234deg;}
.clock .pointer41 {--rotation1:240deg;}
.clock .pointer42 {--rotation1:246deg;}
.clock .pointer43 {--rotation1:252deg;}
.clock .pointer44 {--rotation1:258deg;}
.clock .pointer45 {--rotation1:264deg;}
.clock .pointer46 {--rotation1:270deg;}
.clock .pointer47 {--rotation1:276deg;}
.clock .pointer48 {--rotation1:282deg;}
.clock .pointer49 {--rotation1:288deg;}
.clock .pointer50 {--rotation1:294deg;}
.clock .pointer51 {--rotation1:300deg;}
.clock .pointer52 {--rotation1:306deg;}
.clock .pointer53 {--rotation1:312deg;}
.clock .pointer54 {--rotation1:318deg;}
.clock .pointer55 {--rotation1:324deg;}
.clock .pointer56 {--rotation1:330deg;}
.clock .pointer57 {--rotation1:336deg;}
.clock .pointer58 {--rotation1:342deg;}
.clock .pointer59 {--rotation1:348deg;}
.clock .pointer60 {--rotation1:354deg;}
.clock .pointer0  {--rotation1:360deg;}



.clock .number{
	--rotation:0;
	position: absolute;
	height: 180px;
	width: 180px;
    color: #644F4F;
	font-size: 20px;
	font-weight: 800;
	text-align: center;
	transform: rotate(var(--rotation));


}
.clock .number1 {--rotation:30deg;}
.clock .number2 {--rotation:60deg;}
.clock .number3 {--rotation:90deg;}
.clock .number4 {--rotation:120deg;}
.clock .number5 {--rotation:150deg;}
.clock .number6 {--rotation:180deg;}
.clock .number7 {--rotation:210deg;}
.clock .number8 {--rotation:240deg;}
.clock .number9 {--rotation:270deg;}
.clock .number10 {--rotation:300deg;}
.clock .number11 {--rotation:330deg;}
.clock .number12 {--rotation:0deg;}


.clock .hand {
	--rotation:0;
	position: absolute;
	left: 50%;
	bottom: 50%;
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transform-origin: bottom;
	z-index: 10;
	transform: translateX(-50%)
	rotate(calc(var(--rotation)*1deg));
}
.clock::after{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #676D7F;
	z-index: 20;
	width: 10%;
	height: 10%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.clock .hand.seconds {
	height: 45%;
	width: 2px;
	background-color: red;
	z-index: 13;

}
.clock .hand.minutes {
	height: 35%;
	width: 5px;
	background-color: black;
	z-index: 11;

}
.clock .hand.hours {
	height: 30%;
	width: 7px;
	background-color: #6A5D46;
	z-index: 10;

}

